<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380243513330-aj4lkc5tg1p9jl729tlok7afj483ui5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380243513330-aj4lkc5tg1p9jl729tlok7afj483ui5f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>380243513330-djse33vd5qct9jc5ve77qme73bn762h3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5K_GS2_4lfV93F6ZCK8GhvhzicWcV9wU</string>
	<key>GCM_SENDER_ID</key>
	<string>380243513330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.rhing.daidai</string>
	<key>PROJECT_ID</key>
	<string>daidai-rhing</string>
	<key>STORAGE_BUCKET</key>
	<string>daidai-rhing.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380243513330:ios:48fc855da8b1260f0e656b</string>
</dict>
</plist>